<template>
    <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <h3><i class="bi bi-bootstrap"></i></h3>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><h4><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x"></i></a></h4></li>
      <li class="ms-3"><h4><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></h4></li>
      <li class="ms-3"><h4><a class="text-body-secondary" href="#"><i class="bi bi-discord"></i></a></h4></li>
    </ul>
  </footer>
    </div>
</template>

<script setup>

</script>

<style >
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css);
</style>
