<script setup>
import { RouterLink,RouterView } from 'vue-router';
</script>

<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-info shadow">
  <div class="container">
    <router-link :to="{name:'home'}" class="navbar-brand">Dev Cat</router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <router-link :to="{name:'home'}" class="nav-link active" aria-current="page"><i class="bi bi-house m-1"></i>หน้าแรก</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{name:'about'}" class="nav-link"><i class="bi bi-bank m-1"></i>เกี่ยวกับเรา</router-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-video3 m-1"></i>ลิ้งค์เว็บที่เกี่ยวข้อง
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.trattc.ac.th"><i class="bi bi-google m-2"></i>วท.ตราด</a></li>
            <li><a class="dropdown-item" href="https://www.vec.go.th"><i class="bi bi-youtube m-2"></i>อาชีวศึกษา</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.moe.go.th"><i class="bi bi-discord m-2"></i>กระทรวงศึกษาธิการ</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <router-link :to="{name:'map'}" class="nav-link"><i class="bi bi-pin-map m-1"></i>แผนที่</router-link>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
  
</template>



<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
.navbar{
  font-family: 'Sarabun', sans-serif;
}
</style>
