<template>
  <div class="container my-5">
  <div class="card shadow" style="width: 20rem;">
    <div class="card-header p-0">
      <img src="https://potentia.in/wp-content/uploads/2021/07/ord_img_1.png" class="card-img-top" alt="img"/>
    </div>
  <div class="card-body">
    <h5 class="card-title">About Page</h5>
    <p class="card-text">This is an About Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read.</a>
  </div>
  </div>
  
</div>
</template>
