<script setup>

</script>

<template>
  <div class="container my-5">
  <div class="card shadow" style="width: 20rem;">
    <div class="card-header p-0">
      <img src="https://upraise.io/wp-content/uploads/2019/12/Banner.webp" class="card-img-top" alt="img">
    </div>
  <div class="card-body">
    <h5 class="card-title">Home Page</h5>
    <p class="card-text">This is a Home Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read...</a>
  </div>
  </div>
  
</div>
</template>
